@import reset

body
    background: #eee url(../images/gray_jean.png) repeat
    font-size: 16px
    font-family: sans-serif
a
    text-decoration: none
button
    cursor: pointer
    margin: 0
input, textarea
    margin: 0


.width_wrapper
    width: 100%
    max-width: 900px
    margin: 0 auto

header_border_light=#f8f8f8
header_border_dark=#e0e0e0
header
    border-bottom: 1px solid header_border_dark
    box-shadow: 0px 1px 0px header_border_light
    height: 35px
    ul
        width: auto
        float: left
        border-left: 1px solid header_border_dark
        border-right: 1px solid header_border_light
        li
            display: block
            float: left
            width: auto
            a
                display: block
                line-height: 30px
                padding: 5px 15px 0 15px
                border-left: 1px solid header_border_light
                border-right: 1px solid header_border_dark
                color: #bbb
                font-weight: bold
                text-shadow: 0px 1px 0px rgba(255,255,255, 0.6)
                &:hover
                    background: rgba(255,255,255, 0.3)
                    color: #aaa
.main_controls
    height: 64px
    ul li
        display: block
        float: left
        margin-top: 20px
        margin-right: 10px
        button
            line-height: 30px
            padding: 0 15px
            background: #8be
            border: 1px solid #69c
            border-radius: 3px
            box-shadow: 0px 1px 0px rgba(255,255,255, 0.5) inset,
                      0px 1px 0px rgba(255,255,255, 0.7)
            color: #fff
            font-size: 16px
            font-weight: bold
            text-shadow: 0px 1px 1px rgba(0,0,0, 0.2)
            margin: 0px
        &:last-child
            float: right
            margin-right: 0px
            button
                background: #8eb
                border-color: #6c9
.content_area
    background: #fff
    border-radius: 3px
    padding: 30px
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.1)
    textarea, input[type="text"]
        width: 100%
        box-sizing: border-box
        border-radius: 3px
        border: 1px solid rgba(255,255,255, 0)
        font-size: 20px
        padding: 10px
        margin-bottom: 10px
        &:focus, &:hover
            border-color: #ccc
    textarea
        min-height: 60px
    input[type="text"]
        font-weight: bold

.add_photo
    text-align: center
    margin-top: 10px
    button
        box-sizing: border-box
        line-height: 44px
        padding: 0 40px
        background: #fff
        border: 1px solid #eee
        border-radius: 5px
        color: #ccc
        font-size: 20px
        &:hover
            border-color: #ddd
            color: #aaa
