@import reset

body
    background: #eee url(../images/gray_jean.png) repeat
    font-size: 16px
    font-family: sans-serif
a
    text-decoration: none
button
    cursor: pointer
    margin: 0
input, textarea
    margin: 0


.width_wrapper
    width: 100%
    max-width: 900px
    margin: 0 auto

header_border_light=rgba(255,255,255, 0.2)
header_border_dark=rgba(0,0,0, 0.1)
header
    height: 35px
    background: rgba(0,0,0, 0.3)
    ul
        width: auto
        float: left
        border-left: 1px solid header_border_dark
        border-right: 1px solid header_border_light
        li
            display: block
            float: left
            width: auto
            a
                display: block
                line-height: 30px
                padding: 5px 15px 0 15px
                border-left: 1px solid header_border_light
                border-right: 1px solid header_border_dark
                color: #d8d8d8
                font-weight: bold
                text-shadow: 0px 1px 0px rgba(0,0,0, 0.3)
                &:hover
                    background: rgba(0,0,0, 0.05)
                    color: #e0e0e0
.main_controls
    height: 64px
    ul li
        display: block
        float: left
        margin-top: 20px
        margin-right: 10px
        button
            line-height: 30px
            padding: 0 15px
            background: #bbe
            border: 0
            border-radius: 4px
            box-shadow: 0px 2px 0px #99c
            color: #fff
            font-size: 16px
            font-weight: bold
            text-shadow: 0px 1px 1px rgba(0,0,0, 0.2)
            margin: 0px
            &:hover
                background: #c4c4f4
        &:last-child
            float: right
            margin-right: 0px
            button
                background: #8eb
                box-shadow: 0px 2px 0px #6c9
                &:hover
                    background: #94f4c4
.content_area
    background: #fff
    border-radius: 3px
    padding: 30px
    box-shadow: 0px 3px 0px rgba(0,0,0, 0.05)
    textarea, input[type="text"]
        width: 100%
        box-sizing: border-box
        border-radius: 3px
        border: 1px solid rgba(255,255,255, 0)
        font-size: 20px
        padding: 10px
        margin-bottom: 10px
        &:focus, &:hover
            border-color: #ccc
    textarea
        min-height: 60px
    input[type="text"]
        font-weight: bold

.add_photo
    text-align: center
    margin-top: 10px
    button
        box-sizing: border-box
        line-height: 44px
        padding: 0 40px
        background: #fff
        border: 1px solid #eee
        border-radius: 5px
        color: #ccc
        font-size: 20px
        &:hover
            border-color: #ddd
            color: #aaa
